<div *ngIf="language === 0; else english" style="width: 100%; height: 100%;">
      <object 
      data="assets/CV_RAIMUNDO_Guillaume.pdf"
      type="application/pdf"
      width="100%"
      height="100%">
      <p>{{ texts.error }}
        <a href="assets/CV RAIMUNDO Guillaume.pdf">{{ texts.download }}</a>.</p>
    </object>
  </div>

<ng-template #english> 
      <object 
      data="assets/Resume_RAIMUNDO_Guillaume.pdf"
      type="application/pdf"
      width="100%"
      height="100%">
      <p>{{ texts.error }}
        <a href="assets/CV RAIMUNDO Guillaume.pdf">{{ texts.download }}</a>.</p>
    </object>
