.menuOnglet{
    font-size: 1.5em;
    display: inline-block; 
}
     
.creation:hover{
    background-image: url("http://51.178.47.49/AjiGames/anim_creation.gif");
    color: black;
    cursor: pointer;
}   

.CV:hover{
    background-image: url("http://51.178.47.49/AjiGames/CV.gif");
    color: black;
    cursor: pointer;
}

.about:hover{
    background-image: url("http://51.178.47.49/AjiGames/anim-perso.gif");
    color: black;
    cursor: pointer;
}

.menu {
    background-color: #2e2836;
    color: white;
    width: 100%;
}

.header{
    color: white;
    background-color: #156064;
}

.warning{
    background-color: orange;
    color: black;
}