.menu:hover{
    background-color: #C1Cad6;
    color: black;
    cursor: pointer;
}

.menu {
    background-color: #2e2836;
    color: white;
}

.header{
    color: white;
    background-color: #156064;
}