<header class="header">
  <h2 class="pt-4 pb-4 text-center">Guillaume RAIMUNDO</h2>

  <div class="menu text-center">
    <div (click)="changeMainPage('Creations')" class="menuOnglet creation p-0 border-right" style="width: 33.5%;">
      Creations</div>
    <div (click)="changeMainPage('CV')" class="menuOnglet CV p-0 border-right" style="width: 33%;">CV</div>
    <div (click)="changeMainPage('A Propos')" class="menuOnglet about p-0" style="width: 33.5%;">A Propos
    </div>
  </div>
  <div *ngIf="!exeDispo" class="p-4 text-center warning">
    <h3> ATTENTION </h3>
   <span> Suite à un problème de serveur, les exécutables ne sont plus disponibles, je fais mon possible pour les remettre à disposition !</span>
   <br>
   <span>Si vous souhaitez récupérer l'un de ces exécutables vous pouvez me contacter par mail.</span>
  </div>
</header>

<router-outlet></router-outlet>