<div class="text-center">
  <h2 class="text-center pt-4 pb-4">Guillaume RAIMUNDO</h2>
</div>

<div class="row text-center">

  <div (click)="changeMainPage('Creations')" class="menu col-4 border-right" style="font-size: 1.5em">Creations</div>
  <div (click)="changeMainPage('CV')" class="menu col-4 border-right" style="font-size: 1.5em">CV</div>
  <div (click)="changeMainPage('About Me')" class="menu col-4" style="font-size: 1.5em">About me</div>

</div>

<router-outlet></router-outlet>

<router-outlet></router-outlet>