.menuOnglet:hover{
    background-color: #C1Cad6;
    color: black;
    cursor: pointer;
}

.menuOnglet{
    font-size: 1.5em;
    display: inline-block; 
}

.menu {
    background-color: #2e2836;
    color: white;
    width: 100%;
}

.header{
    color: white;
    background-color: #156064;
}