.titleCreation{
    margin-top : 0.5em;
    text-decoration-line: underline;
    font-weight: bold;
}

.divtopage:hover{
    box-shadow: 10px 10px 5px #bba396;
    cursor: pointer;
}

.divtopage{
    background-color: #e3f2fd;
}

.back{
    background-color: #b9d4e3;
}

.icon{
    width: 45px; 
    height: auto;
}
